<!DOCTYPE html>
<html>
<head>
  <title>Метод Гаусса</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<%= yield %>


</body>
</html>